*, *::before, *::after {
    box-sizing: border-box;
}

.rotate{
    animation: rotation 6s infinite;
}

.rotate1{
    animation: rotation1 8s infinite;
}

@keyframes rotation {
    0% {
      transform: rotateY(70deg) translateX(-100px);
    }
    50%{
        transform: translateX(100px) rotateY(-70deg);
    }
    100% {
          transform: rotateY(70deg) translateX(-100px);
    }
  }

  @keyframes rotation1 {
    0% {
      transform: rotateY(70deg) translateX(100px);
    }
    50%{
        transform: translateX(-100px) rotateY(-70deg);
    }
    100% {
          transform: rotateY(70deg) translateX(100px);
    }
  }
  